<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="/assets/img/office.jpg">
    </div>
    <a href="#user"><img class="circle" src="/assets/img/eu.jpg"></a>
    <a href="#name"><span class="white-text name">Jhonatha Matias</span></a>
    <a href="#email"><span class="white-text email">jhonathamatias35@gmail.com</span></a>
    <a href="#name"><span class="white-text name">Administrador</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">assignment</i>Ordens de Serviço</a></li>
  <li><a href="/company"><i class="material-icons">business</i>Empresas</a></li>
  <li><a href="/collaborators"><i class="material-icons">engineering</i>Colaboradores</a></li>
  <li><div class="divider"></div></li>
  <li><a href="/users"><i class="material-icons">group</i>Usúarios</a></li>
  <li><a href=""><i class="material-icons">settings</i>Configurações</a></li>
</ul>