{% extends "partials/admin.twig" %}

{% block content_header %}
    <i class="material-icons icon-title">business</i> <h3>Empresas</h3>
    <div class="container-header-button">
        <a class="btn-floating btn-large waves-effect waves-light button-color modal-trigger" href="#add-company"><i class="material-icons">add</i></a>
    </div>
{% endblock %}

{% block content %}
    <div class="container-content">
        <div id="company-grid" class="grid"></div>
    </div>
    {% include 'company/add_company_modal.twig' %}
{% endblock %}

{% block aftercss %}
   <link rel="stylesheet" href="/assets/css/grid.css">
{% endblock %}

{% block jsafter %}
    <script src="/libs/gridjs/dist/gridjs.min.js"></script>
    <script src="/libs/validatorjs-master/dist/validator.js"></script>
    <script src="/libs/validatorjs-master/dist/lang/pt_BR.js"></script>
    <script src="/libs/imask/imask.min.js"></script>
    <script src="/libs/cnpj/cnpj.min.js"></script>
    <script src="/assets/js/masks.js"></script>
    <script src="/assets/js/company.js"></script>
{% endblock %}